div
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  include mixin.pug
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block")
    include:lsc fields/index.ls
    include:lsc index.ls

  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-468879792')
  script.
    // gtag
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Y9QFDR0GTX');

  script.
    // meta pixel
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '765907572989163');
    fbq('track', 'PageView');
  noscript
    img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=765907572989163&ev=PageView&noscript=1')

  div(plug="form")
    img.border-bottom.print-hide.embed-hide(ld="brd-visual",path,path-src="img/2026 New Wave_1600x600px.jpg?v=1", width="1600",style="width:100%;height:auto",alt="brd visual")
    .sect.embed-hide
      h1 #[span(t="title.name")]
      .mt-3(t="title.date")
      .mt-3
        span 徵件辦法：
        a(href="https://www.lightboxlib.org/new-wave/" target="_blank") https://www.lightboxlib.org/new-wave/
      .mt-3
        span(t="必填項目提示.0")
        span.mx-2 #[span.text-danger.font-weight-bold ＊]
        span(t="必填項目提示.1")
    .sect.embed-hide
      h3#sect-1.mb-5 一、資格確認
      h4 參加資格
      ul.li-tweak
        li 請勾選確認符合以下三項資格，方可報名。
        li 若經查資格不符，報名費將不予退還。
        li 若有疑問，可查閱「<a href="https://www.lightboxlib.org/new-wave#faq" target="_blank">常見問題</a>」，或聯絡主辦方。
      .bg-white.shadow-sm.rounded: +widget("參賽資格")
      
      h4.pt-4 作品規範
      .li-tweak(ld="lb-spec")
      .ml-1.font-weight-bold: +widget("作品規範")
      
      h4.pt-4 投件須知
      .li-tweak(ld="lb-instructions")

      .ml-1.font-weight-bold: +widget("參賽需知")

    .sect.embed-hide
      h3#sect-2.mb-5 二、基本資料
      ul.li-tweak
        li 若為團體報名者，請推派一位代表填寫。
        li 下列資料，僅供本獎項之行政聯絡、了解參加者群像，請放心填寫。
      .row
        .col-md: +widget("真實姓名")
        .col-md: +widget("別名")
      .row
        .col-md: +widget("團體名稱")
      .row
        .col-md: +widget("居住地")
        .col-md: +widget("生日")
      +widget("性別")
      +widget("國籍")
      +widget("電子信箱")
      +widget("聯絡電話")

    .sect
      h3#sect-3.mb-5 三、創作自述
      .row
        .col-md: +widget("作品名稱-中文")
        .col-md: +widget("作品名稱-英文")
      .row
        .col-md: +widget("作品簡介-中文")
        .col-md: +widget("作品簡介-英文")
      +widget("創作媒材揭露：影像內容是否源自生成式 AI 工具？")

    .sect
      h3#sect-4.mb-5 四、作品上傳
      +widget("作品上傳")
      +widget("上傳作品之展呈示意圖")

    .sect.embed-hide
      h3#sect-5.mb-5 五、作者簡歷
      +widget("自我介紹")
      +widget("參展經歷")

    .sect.embed-hide
      h3#sect-6.mb-5 六、報名費繳交
      +widget("是否具學生身分？")
      +visibility("上傳證件"): +widget("上傳證件")
      +widget("繳費方式")
      +visibility("其他付款方式")
        div 請至以下頁面進行付款，並於取得票號後於下方填寫：
        a.btn.btn-primary.mt-2.mb-4(href="https://lightbox-newwave.oen.tw/events/3B0rJ2Xs9u38zY5TKBRJk6pKadh", target="_blank") 付款頁面
        +widget("票號或訂單編號")
      +visibility("報名費-一般"): +widget("報名費-一般")
      +visibility("報名費-學生"): +widget("報名費-學生")

    .sect.embed-hide.print-hide.bg-white
      .btn.btn-primary.btn-lg.px-4(t,ld="submit") 送件
      .my-2: .text-danger.text-sm * #[span(t) 請善用暫存功能，送件後無法再修改。]
    .print-hide: +nbr(4)
  div(plug="toc")
    .dropdown
      .btn.btn-sm.btn-block.btn-outline-secondary.dropdown-toggle(ld="dropdown",data-toggle="dropdown")
        span(t) 目錄
      .dropdown-menu.dropdown-menu-right.shadow-sm
        a.dropdown-item.clickable(href="#sect-1") 1. #[span(t) 資格確認]
        a.dropdown-item.clickable(href="#sect-2") 2. #[span(t) 基本資料]
        a.dropdown-item.clickable(href="#sect-3") 3. #[span(t) 創作自述]
        a.dropdown-item.clickable(href="#sect-4") 4. #[span(t) 作品上傳]
        a.dropdown-item.clickable(href="#sect-5") 5. #[span(t) 作者簡歷]
        a.dropdown-item.clickable(href="#sect-6") 6. #[span(t) 報名費繳交]
        //-a.dropdown-item.clickable(href="#sect-5") 5. #[span(t) 條款與同意書]
    hr
