h1, h2, h3
  scroll-margin-top: 1em

b, strong
  font-weight: bold

ul.li-tweak, ol.li-tweak, .li-tweak > ul, .li-tweak > ol
  padding-left: 1.25em
  li
    margin-bottom: .75em
    padding-left: .25em

.application div
  .sect:nth-child(2n+1)
    background: #f6ffff
  .sect
    padding-top: 2em
    padding-bottom: 2em
    border-top: 1px solid #d6d7d8

img.clickable
  object-fit: contain