div
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  include mixin.pug
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block")
    include:lsc fields/index.ls
    include:lsc index.ls
  div(plug="form")
    img.border-bottom.print-hide.embed-hide(path,path-src="img/2026 New Wave_1600x600px.jpg?v1",
    width="1600",height="600",style="width:100%;height:auto",alt="brd visual")
    .sect.embed-hide
      h1 #[span(t="title.name")]
      .mt-3(t="title.date")
      .mt-3
        span 徵件辦法：
        a(href="https://www.lightboxlib.org/new-wave/" target="_blank") https://www.lightboxlib.org/new-wave/
      .mt-3
        span(t="必填項目提示.0")
        span.mx-2 #[span.text-danger.font-weight-bold ＊]
        span(t="必填項目提示.1")
    .sect.embed-hide
      h3#sect-1.mb-5 一、資格確認
      h4 參加資格
      ul.li-tweak
        li 請勾選確認符合以下三項資格，方可報名。
        li 若經查資格不符，報名費將不予退還。
        li 若有疑問，可查閱「<a href="https://www.lightboxlib.org/new-wave#faq" target="_blank">常見問題</a>」，或聯絡主辦方。
      .bg-white.shadow-sm.rounded: +widget("參賽資格")
      
      h4.pt-4 作品規範
      ul.li-tweak
        li 投件作品，須為 2021 年後之創作。
        li 投件作品，須未曾獲得或入選國內外之攝影或藝術創作獎項。
        li 個人或團體，至多可各投一組作品參加。
        li 投件作品，可為進行中，或已完成之創作。
      .ml-1.font-weight-bold: +widget("作品規範")
      
      h4.pt-4 投件須知
      ol.li-tweak
        li 評審會議結束後，所有投件作品將以去識別的方式，在線上展覽頁面公開展示（僅呈現作品之名稱、簡介和圖檔，不揭露姓名等個資），提供創作獎之所有參加者和贊助者觀摩與交流，展期約 1 個月。
        li 參加者應對其所提供之資料及投件作品之真實性負責，且不得侵害他人之著作權等相關權利。否則除應依法自負法律責任外，主辦單位得取消其獲獎資格，並追回已頒發之獎金和獲獎證書，且下一屆不得參加。
        li 若投件作品之相關資料含有任何他人創作之內容，請自行於送件前取得相關授權同意。若投件作品及所提供之相關資料，事後涉及相關法律爭議，由參加者自行負責。
        li 主辦單位為教育、研究及推廣之目的，得就投件作品舉辦實體及線上之公開展覽、頒獎典禮及作品發表會，開放大眾及媒體攝（錄）影，主辦單位並得就投件作品出版發行實體及數位之展覽圖錄及文宣，進行實體及線上之發表。參加者同意主辦單位依上開行為所需，將其著作財產權非專屬授權主辦單位為不限時地之利用。
        li 參加者同意，如作品獲得獎項，主辦單位將揭露其姓名或別名，參加者並同意主辦單位就獲獎作品出版發行實體及數位專輯，舉行實體及線上之公開發表及展覽，期間將開放大眾及媒體攝（錄）影。參加者並同意主辦單位依上開行為所需，將其著作財產權非專屬授權主辦單位為不限時地之利用。
        li 完成報名程序後，恕不退費，並視為同意且遵守本徵件辦法之各項規定。
        li 本徵件辦法如有未盡事宜，得由主辦單位修正並隨時公告於網站，主辦單位保有隨時補充、修訂及解釋之權。
      .ml-1.font-weight-bold: +widget("參賽需知")

    .sect.embed-hide
      h3#sect-2.mb-5 二、基本資料
      ul.li-tweak
        li 若為團體報名者，請推派一位代表填寫。
        li 下列資料，僅供本獎項之行政聯絡、了解參加者群像，請放心填寫。
      .row
        .col-md: +widget("真實姓名")
        .col-md: +widget("別名")
      .row
        .col-md: +widget("團體名稱")
      .row
        .col-md: +widget("居住地")
        .col-md: +widget("生日")
      +widget("性別")
      +widget("國籍")
      +widget("電子信箱")
      +widget("聯絡電話")

    .sect
      h3#sect-3.mb-5 三、創作自述
      .row
        .col-md: +widget("作品名稱-中文")
        .col-md: +widget("作品名稱-英文")
      .row
        .col-md: +widget("作品簡介-中文")
        .col-md: +widget("作品簡介-英文")
      +widget("創作媒材揭露：影像內容是否源自生成式 AI 工具？")

    .sect
      h3#sect-4.mb-5 四、作品上傳
      +widget("作品上傳")
      +widget("上傳作品之展呈示意圖")

    .sect.embed-hide
      h3#sect-5.mb-5 五、作者簡歷
      +widget("自我介紹")
      +widget("參展經歷")

    .sect.embed-hide
      h3#sect-6.mb-5 六、報名費繳交
      +widget("是否具學生身分？")
      +visibility("上傳證件"): +widget("上傳證件")
      +widget("繳費方式")
      +visibility("其他付款方式")
        div 請至以下頁面進行付款，並於取得票號後於下方填寫：
        a.btn.btn-primary.mt-2.mb-4(href="//lightbox-newwave.oen.tw/events/2diSRa4UHKzblAZOg5VqFIbW9bE?shearTicket=2e8RAViThslDmF8newsVtLDZkcK", target="_blank") 付款頁面
        +widget("票號或訂單編號")
      +visibility("報名費-一般"): +widget("報名費-一般")
      +visibility("報名費-學生"): +widget("報名費-學生")

    .sect.embed-hide.print-hide.bg-white
      .btn.btn-primary.btn-lg.px-4(t,ld="submit") 送件
      .my-2: .text-danger.text-sm * #[span(t) 請善用暫存功能，送件後無法再修改。]
    .print-hide: +nbr(4)
  div(plug="toc")
    .dropdown
      .btn.btn-sm.btn-block.btn-outline-secondary.dropdown-toggle(ld="dropdown",data-toggle="dropdown")
        span(t) 目錄
      .dropdown-menu.dropdown-menu-right.shadow-sm
        a.dropdown-item.clickable(href="#sect-1") 1. #[span(t) 資格確認]
        a.dropdown-item.clickable(href="#sect-2") 2. #[span(t) 基本資料]
        a.dropdown-item.clickable(href="#sect-3") 3. #[span(t) 創作自述]
        a.dropdown-item.clickable(href="#sect-4") 4. #[span(t) 作品上傳]
        a.dropdown-item.clickable(href="#sect-5") 5. #[span(t) 作者簡歷]
        a.dropdown-item.clickable(href="#sect-6") 6. #[span(t) 報名費繳交]
        //-a.dropdown-item.clickable(href="#sect-5") 5. #[span(t) 條款與同意書]
    hr
