div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="preview")
    .ldcv(ld="dialog"): .base
      .position-absolute.d-flex.g-2(style="top:1em;right:1em;line-height:1.25em")
        a.clickable(ld="open",data-ldcv-set="",target="_blank",rel="noopener noreferrer")
          i.text-lg.i-new-page.d-block(style="background:#fff;padding:.5em;border-radius:.25em")
        i.text-lg.i-close.d-block.clickable(data-ldcv-set="",
        style="background:#fff;padding:.5em;border-radius:.25em")
      a.inner.d-block.position-relative(data-ldcv-set="",ld="container")
        //- this is where image will insert
      .position-absolute(style="right:1em;top:46%", ld="next-img")
        button.btn.btn-light.clickable: i.i-chevron-right
      .position-absolute(style="left:1em;top:46%", ld="prev-img")
        button.btn.btn-light.clickable: i.i-chevron-left
    .row
      .col-6.col-lg-4.p-2(ld-each="image")
        .w-100.embed-responsive.embed-responsive-1by1.position-relative
          img.embed-responsive-item.clickable(ld="image",
          src="data:image/gif;base64,R0lGODlhAwABAIAAAHFxcQAAACH5BAAAAAAALAAAAAADAAEAAAIChAsAOw==")
          span.position-absolute.p-1(style="right:0;bottom:0;z-index:1;font-size:.75rem;background:#fffa;",ld="number") abc
